.scrolling-wrapper {
    overflow-x: visible;
    white-space: nowrap;
}
.card {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre las cards */
}


.exo-2{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.hover-bg-black:hover {
    /* border-color: white; */
    border: 2px white solid;
}



.card-body .card-title img {
    position: inherit;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* Animación suave para aparecer/desaparecer */
}


/* colocamos el icono en el margen inferior derecho cuando hacemos hover */
.card {
    position: relative;
    overflow: hidden; /* Asegura que los elementos hijos no se salgan del contenedor */
}
.card-body {
    position: absolute;
    bottom: 0;
    right: 8px;
    padding: 10px;
}
.card-body .card-title img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Mostramos los iconos al hacer hover sobre la tarjeta */
.card:hover .card-body .card-title img {
    opacity: 1;
}

/* el icono del top 10 de la semana se va a visualizar siempre */
.card-top-10 .card-title img {
    opacity: 1;
    /* transition: opacity 0.3s ease-in-out; */
}

/* carousel */
.carousel-inner {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.carousel-inner::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.card {
    flex: 0 0 auto;
    margin: 1px;
    /* border: none; Optional: Remove card border if needed */
    
}

.card-img-top {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 0; /* Remove rounded corners if not needed */
}