
.scrolling-wrapper {
    overflow-x: visible;
    white-space: nowrap;
}
.card {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre las cards */
    cursor: pointer;
}

/* fuente */
.exo-2{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.card-body .card-title img {
    position: inherit;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* Animación suave para aparecer/desaparecer */
}


/* colocamos el icono en el margen inferior derecho cuando hacemos hover */
.card {
    position: relative;
    overflow: hidden; /* Asegura que los elementos hijos no se salgan del contenedor */
}
.card-body {
    position: absolute;
    bottom: 0;
    right: 8px;
    padding: 10px;
}
.card-body .card-title img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Mostramos los iconos al hacer hover sobre la tarjeta */
.card:hover .card-body .card-title img {
    opacity: 1;
}

/* el icono del top 10 de la semana se va a visualizar siempre */
.card-top-10 .card-title img {
    opacity: 1;
    /* transition: opacity 0.3s ease-in-out; */
}




/* carousel principal ///////////////////////////////////////////////////////*/
.carousel-inner {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.carousel-inner::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.card {
    flex: 0 0 auto;
    margin: 1px;
    /* border: none; Optional: Remove card border if needed */
    
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 0; /* Remove rounded corners if not needed */
}

/* aplicaciones fondo */
.card-app {
    width: 15%;
    background-color: rgb(0, 0, 0, 0);
    transition: background-color 1s ease;
    border: 0px;
    /* margin: 2px; */
    position: relative; /* Para que .loading se posicione correctamente */
}

.div__card-app{
    width: 100%;
}

.card-netflix-app:hover{
    width: 15%;
    background-color: rgb(255, 2, 12, 0.600);
    transition:  background-color 1s ease;

    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

.card-disney-app:hover{
    width: 15%;
    background-color: rgba(0, 48, 62, 0.600);
    transition:  background-color 1s ease;

    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

.card-hbo-app:hover{
    width: 15%;
    background-color: rgb(50, 9, 88, 0.600);
    transition:  background-color 1s ease;

    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

.card-paramount-app:hover{
    width: 15%;
    background-color: rgb(0, 100, 255, 0.600);
    transition:  background-color 1s ease;
   
    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

.card-paramount:hover{
    border: rgb(255, 255, 255, 0.600) 1px solid;
}

.card-prime-app:hover{
    width: 15%;
    background-color: rgb(0, 153, 255, 0.600);
    transition:  background-color 1s ease;

    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

.card-prime:hover{
    border: rgb(0, 0, 0) 1px solid;
}

/* efecto al soltar */
.card-add-app:hover{
    width: 15%;
    background-color: rgb(124, 179, 26, 0.600);
    transition:  background-color 1s ease;
    /* efecto escala */
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(0.9); 
}

/* botones del carousel top 10 */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 5%; /* Ajusta el tamaño del botón */
    height: 98%;
    z-index: 9999;
}

.carousel-control-prev{
    left: 0;
}

.carousel-control-next{
    right: 0;
}
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.300);
    height: 98%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%; /* Hace que el ícono ocupe todo el tamaño del contenedor */
    height: 100%; /* Hace que el ícono ocupe todo el tamaño del contenedor */
}


.hover-bg-black:hover {
    border-color: white;
}

/* SECCION SEGUIR VIENDO /////////////////////////////////////////////// */
/* seccion seguir viendo . se agranda al pasar por arriba*/
.card-seguir-viendo:hover{
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(1.08); 
    z-index: 100;
}

/* vuelve a su tamaño original */
.card-seguir-viendo{
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(1); 

    margin: 5px;
}

/* seccion top 10 */
/* .card:hover{
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(1.08); 
    z-index: 100;
}

.card{
    transition: transform 0.3s ease, background-color 1s ease;
    transform: scale(1); 
} */